<mat-toolbar color="primary">
  <span class="app-title">MyApp</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="isMenuOpen = !isMenuOpen" aria-label="Toggle navigation">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="isMenuOpen" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active-link" (click)="sidenav.close()">Login</a>
      <a mat-list-item (click)="logout(); sidenav.close()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
