<table class="table table-hover table-bordered shadow-sm">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @for ( item of employees; track item.id)
 {
    <tr>
    <td>{{item.name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.role}}</td>
    <td><a routerLink="/users/{{item.id}}" class="btn btn-primary"><Details></Details></a></td>
 </tr>
} 
    </tbody>
</table>

