<mat-card class="container">
    <mat-card>
      <button mat-raised-button color="primary" routerLink="/NewUser" routerLinkActive="active-link">
        Add New User
      </button>
    </mat-card>
  
    <mat-card>
      <button mat-raised-button color="accent" routerLink="/hrRequests" routerLinkActive="active-link">
        View Requests
      </button>
    </mat-card>
  
    @if (employees) {
      <mat-card>
        <table mat-table [dataSource]="employees" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
  
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>
  
          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let element">{{ element.role }}</td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <div class="action-icons">
                <button mat-icon-button color="primary" routerLink="/users/{{ element.id }}">
                  <mat-icon>info</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete(element.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="['name', 'email', 'role', 'actions']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['name', 'email', 'role', 'actions'];"></tr>
        </table>
      </mat-card>
    } @else {
      <mat-card class="loading-card">
        <h1>Loading...</h1>
      </mat-card>
    }
  </mat-card>
  